*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.purple{
    color:#14ffec ;
}

.row-about{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #f5f5f5;
    padding: 150px 15%;
    flex-wrap: wrap;  
}

.about-img{
    width: 40%;
}

.about-img img{
    width: 100%;
    animation: jump 2s infinite ease-in-out;
}


.about-content{
    width: 50%;
}

.about-content h1{
    font-weight: 500;
    text-align: center;
}
.about-content p{
    font-size: 	1.2500em;
    line-height: 1.3;
    text-align: left;
    text-align: justify;
    line-height: 1.4;
}

.about-activity{
    list-style: none;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 40px;
    font-size: 	1.2500em;
    display: flex;
    gap: 5px;
}


.footer-quote p {
    text-align: center;
    margin-top: 2px;
}

/* SKILLS ROW  */

.skillset-heading{
    font-size: 2.5em;
}

.skills-container{
    padding: 30px 15%;
}
.skills-container h3{
    color: white;
    font-size: 2em;
    font-weight: 400;
}

.skills-row{
    display: flex;
    width: 100%;
    color: #f5f5f5;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 1rem; 
    padding: 1rem;
}

.tech-icons{
    /* font-size: 4.5em !important; */
    margin: 15px !important;
    opacity: .93 !important;
    border: 1.7px solid #14ffec !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    box-shadow: 2px 2px 2px 2px #002724;
    overflow: hidden !important;
    transition: all .4s ease 0s !important;  
    /* flex: 1 1 100px; */
    max-width: 180px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 3px solid #14ffec !important;
    color: #14ffec;
    box-shadow: 2px 2px 2px 2px #002724 !important;
  }

.tech-icons img{
    font-size: 4.5em !important;
    vertical-align: middle;
   padding: 15px 50px;
    width: 100%; 
    height: 100%; 
}

.skills-heading{
    color: #fff !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
}

/* ABOUT SOCAL  */

.about-social{
    color: #fff;
    line-height: 1.5;
    margin-bottom: 10px;
}
.about-social h1{
    font-size: 2.5rem;
    font-weight: 500;
}

.about-social-links{
   display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    margin: 12px 0 30px 0;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s !important;
}

.icon:hover {
    box-shadow: 0 0 5px #14ffec;
    text-shadow: 0 0 2px #14ffec;
  }

.social-icon {
    color: #14ffec;
  }



@media (max-width:1024px) {
    .row-about{
        padding: 80px 10%;
    }   
    .about-content{
        width: 50%;
        
    }
    .about-content h1{
        font-size: 35px;
    }
    .about-img{
        width: 40%;
    }
    .skills-container{
     
        padding: 30px 10%;
    }
}

@media (max-width:768px) {
    .row-about{
        padding: 80px 10%;
        flex-direction: column;
        gap: 95px;
    }   
    .about-content{
        width: 100%;
        padding-top: 80px;
    }
    .about-content h1{
        font-size: 35px;
    }
    .about-img{
        width: 100%;
    }

    .skills-container{
        padding: 30px 8%;
    }

    .tech-icons{
        margin: 5px !important;
        max-width: 130px; 
    }

    .tech-icons img{
        
       padding: 10px 25px;
        
    }

}

@media (max-width:428px) {
    .row-about{
        padding: 80px 20px;
    }   

    .skills-container{
        padding: 30px 20px;
    }   

}

